<div class="container">

  <h1>Components</h1>

  <div id="components">
    
    <%= render 'components/partials/modal' %>
    <%= render 'components/partials/tabs' %>
    <%= render 'components/partials/nav' %>
    <%= render 'components/partials/pagination' %>

  </div>
</div>