<section>
  <h2>Menu</h2>

  <vertical-menu>
    <menu-section name="General">
      <menu-item name="Dashboard"></menu-item>
      <menu-item name="Customers"></menu-item>
    </menu-section>

    <menu-section name="Administration">
      <menu-item name="Team Settings"></menu-item>
      <menu-item name="Manage your team">
        <ul>
          <li>
            <a href="">Members</a>
          </li>
          <li>
            <a href="">Plugins</a>
          </li>
          <li>
            <a href="">Add a member</a>
          </li>
        </ul>
      </menu-item>
    </menu-section>
  </vertical-menu>
</section>