<section>
  <h2>Modal</h2>

  <modal button-text="test this">
    <h2>This is the modal title</h2>
    <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Maecenas bibendum vulputate est quis convallis. Maecenas eget dolor bibendum, venenatis urna nec, elementum felis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum vulputate est quis convallis.</p>
  </modal>
</section>