<section>
  <h2>Nav</h2>

  <div class="nav top-bar">
    
    <navigation burger="true">
      <nav-item name="one" url="#"></nav-item>
      <nav-item name="two" url="#"></nav-item>
      <nav-item name="three" url="#"></nav-item>
    </navigation>  
  </div>
</section>